<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
        <link rel="stylesheet" th:href="@{/LiteraBootswatch.css}">
</head>
<body>
    <h1> GameStop Store </h1>
    <a th:href="@{/games/Create}" class="btn btn-info">New Game</a>
    <div th:if="${games != null and !games.empty}">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Image</th>
                <th>Video</th>
                <th>Available</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="game : ${games} ">
                <td th:text="${game.GamesID}">Show ID</td>
                <td th:text="${game.Title}">Show Title</td>
                <td th:text="${game.Genre}">Show Genre</td>
                <td th:text="${game.Release_Date}">Show Release_Date</td>
                <td> 
                    <img th:src="@{${game.gameImagePath}}" />
                </td>
                <td th:text="${game.Video}">Show Video</td>
                <td th:text="${game.Available}">Show Available</td>
                <td><a th:href="@{/games/edit/} + ${game.GamesID}" class="btn btn-success" th:text="Edit"></a></td>
                <td><a th:href="@{/games/delete/} + ${game.GamesID}" class="btn btn-warning" th:text="Delete"></a></td>

            </tr>
        </table>
    </div>
    <div th:if="${games == null or games.empty}"> 
        La lista de personas esta vacia 
    </div>
</body>
</html>
