<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/LiteraBootswatch.css}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GameStop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</head>
<body>
    <h1 class="title"> GameStop Store </h1>
    <img th:src="@{/[imagen]}" alt="GameStop Store" class="center"/>
    <a th:href="@{/Create}" class="btn btn-info">New Game</a>
    <div th:if="${games != null and !games.empty}">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Image</th>
                <th>Video</th>
                <th>Available</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="game : ${games} ">
                <td th:text="${game.GameID}">Show ID</td>
                <td th:text="${game.Title}">Show Title</td>
                <td th:text="${game.Genre}">Show Genre</td>
                <td th:text="${game.Release_Date}">Show Release_Date</td>
                <td th:text="${game.Image}">Show Image</td>
                <td th:text="${game.Video}">Show Video</td>
                <td th:text="${game.Available}">Show Available</td>
                <td><a th:href="@{/edit} + ${game.GameID}" class="btn btn-success" th:text="Edit"></a></td>
                <td><a th:href="@{/delete} + ${game.GameID}" class="btn btn-warning" th:text="Delete"></a></td>

            </tr>
        </table>

    </div>
</body>
</html>